[[hints.enabled]]
{{- if eq .chezmoi.os "windows" }}
command = { program = "cmd", args = [ "/c", "start", "" ] }
{{- else if eq .chezmoi.os "darwin" }}
command = "open"
{{- else }}
command = "xdg-open"
{{- end }}
hyperlinks = true
post_processing = true
persist = false
mouse.enabled = true
binding = { key = "O", mods = "Control|Shift" }
regex = "(ipfs:|ipns:|magnet:|mailto:|gemini://|gopher://|https://|http://|news:|file:|git://|ssh:|ftp://)[^\u0000-\u001F\u007F-\u009F<>\"\\s{-}\\^⟨⟩`]+"

[[keyboard.bindings]]
action = "Last"
key = 5
mode = "Vi"
mods = "Shift"

[[keyboard.bindings]]
action = "Bracket"
key = 6
mode = "Vi"
mods = "Shift"

[[keyboard.bindings]]
action = "FirstOccupied"
key = 7
mode = "Vi"
mods = "Shift"

# Option+Delete: delete previous word (matches Option+Arrow word-move)
[[keyboard.bindings]]
key = "Back"
mods = "Alt"
chars = "\u001B\u007F"

# Command+Delete: delete to start of line (macOS convention)
[[keyboard.bindings]]
key = "Back"
mods = "Command"
chars = "\u0015"
