# We're going to use gitignore backwards, first we ignore
# everything.
*

# Then we include spesific paths.
!README.md
!.Brewfile
!.TODO.md
!.config/*
!.gitconfig
!.gitignore
!.ssh/id_rsa.pub
!.colors.clr

# Reignore emacs' fucking backup files for now.
*\~