*
!.X/backdrop1.png
!.X/backdrop2.png
!.X/backdrop3.png
!.config/alacritty/alacritty.yml
!.config/fish/config.fish
!.config/i3/config
!.config/i3/exit
!.config/i3/launch
!.config/i3blocks/config
!.config/rofi/onedark.rasi
!.config/termite/config
!.gitconfig
!.gitignore
!.ssh/id_rsa.pub
!.vimrc
!.xinitrc
!README.md
!TODO
