# Setup cargo's binary path.
export PATH=$HOME/.bin:$HOME/.cargo/bin:$PATH
{{ if eq .chezmoi.os "darwin" }}
# Homebrew.
[[ -x /opt/homebrew/bin/brew ]] && eval "$(/opt/homebrew/bin/brew shellenv)"
[[ -x /usr/local/bin/brew ]] && eval "$(/usr/local/bin/brew shellenv)"
{{ end }}

{{ if eq .chezmoi.os "linux" }}
# TODO: https://github.com/zed-industries/zed/issues/32792
export WLR_RENDER_NO_EXPLICIT_SYNC=1

# Set the terminal variable helps i3 decide what to do.
if type alacritty > /dev/null; then
    export TERMINAL=alacritty
fi

# Start a window manager if we should.
if [[ $USER != "root" ]]; then
    if [[ ! $DISPLAY && $XDG_VTNR -eq 1 ]]; then
        set -x XDG_SESSION_TYPE wayland
        exec sway &> $HOME/.sway_output
    elif [[ ! $DISPLAY && $XDG_VTNR -eq 2 ]]; then
        set -x XDG_SESSION_TYPE x11
        exec startx &> $HOME/.Xoutput
    fi
fi
{{ end }}

[[ -f ~/.bashrc ]] && . ~/.bashrc
