[user]
    name = {{ .name }}
    email = {{ .email }}
    signingkey = {{ .signingkey }}

[alias]
    up = !git remote update -p
    a = add
    b = branch
    c = clone
    d = diff
    f = fetch
    sh = show
    i = commit
    l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    m = merge
    in = init
    o = remote
    p0 = rev-list --max-parents=0 HEAD
    p = push
    r = rebase
    s = status -s
    t = tag
    u = reset
    pl = pull
    w = whatchanged
    x = checkout
    z = stash
    cp = cherry-pick

[init]
    defaultBranch = master

[branch]
    autosetuprebase = always

[apply]
    whitespace = warn

[credential]
{{- if eq .chezmoi.os "darwin" }}
    helper = osxkeychain
{{- else if eq .chezmoi.os "windows" }}
    helper = manager
{{- else }}
    {{- /* Linux/WSL: in-memory only, no plaintext on disk, no extra deps.
           Upgrade to `libsecret` (GNOME Keyring) or GCM if a Secret Service
           is available. Or `pass-git-helper` (helper = /usr/bin/pass-git-helper)
           to back credentials with the `pass` store already installed here;
           needs the pass-git-helper package (AUR / pip). */}}
    helper = cache --timeout=86400
{{- end }}

[diff]
    tool = nvimdiff
[merge]
    tool = nvimdiff
[pull]
    ff = only
