"*":
  core:
    telemetryConsent: "no"
  "exception-reporting":
    userId: "4a14cdfe-7d80-9b01-b537-b9eadefc4d49"
  "git-plus": {}
  term3:
    autoRunCommand: "fish"
    colors:
      background: "#282c34"
    fontFamily: "Fira Mono"
    fontSize: "14"
  welcome:
    showOnStartup: false
